
 <div id="page-wrapper" style="background-color: #FFFFFF; margin-top: 15px">

<div class="container-fluid">

    <div class="pull-right">
      <a href="/admin/index" data-toggle="tooltip" title="Cancel" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>Reviews</h1>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-check"></i> Review</h3>
      </div>
      <div class="panel-body" style="margin-top: 20px">
        <form class="form-horizontal">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <div class="tab-content" style="margin-top: 15px">

            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-name">Name</label>
              <div class="col-sm-10">
                <p class="form-control"><%= @commen.name %></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-price">Email</label>
              <div class="col-sm-10">
                <p class="form-control"><%= @commen.email %></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-description1">Comment</label>
              <div class="col-sm-10">
                <textarea style="min-width: 100%;min-height: 200px" class="form-control" disabled><%= @commen.comment %></textarea>
              </div>
            </div>
            <div align="center">
              <%= link_to 'Delete', delete_review_index_path( :id => @commen.id ), :class=>"btn btn-danger fa fa-times", remote: true %>
            </div>
          </div>
        </div>
    </div>
