<!-- *** HOMEPAGE CAROUSEL *** -->
<section>
	<div class="home-carousel">
		<div class="dark-mask"></div>
		<div class="container">
			<div class="homepage owl-carousel">
				<div class="item">
					<div class="row custom-row-carousel">
						<%= image_tag("shop/b1.jpg", class: "img-responsive margin-auto") %>
					</div>
				</div>
				<div class="item">
					<div class="row custom-row-carousel">
						<%= image_tag("shop/b2.jpg", class: "img-responsive margin-auto") %>
					</div>
				</div>
				<div class="item">
					<div class="row custom-row-carousel">
						<%= image_tag("shop/b3.jpg", class: "img-responsive margin-auto") %>
					</div>
				</div>
				<div class="item">
					<div class="row custom-row-carousel">
						<%= image_tag("shop/b4.jpg", class: "img-responsive margin-auto") %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- *** HOMEPAGE CAROUSEL END *** -->
<!-- *** HOME WAYUU TEXT *** -->
<section class="bar background-white no-mb">
	<div class="container">
		<div class="col-md-12">
			<div class="heading text-center">
				<h2><%=t(".why")%></h2>
			</div>
			<p id="lessText" class="lead text-center"><%=t('.desc1')%><a id="seeMoreLink" class="accent" href="" onclick="seeMore(); return false;"> ...See More</a>
			</p>
			<p id="moreText" class="lead text-center"><%=t('.desc2')%><br><br><i>Brandon Miller, Founder of Wayuu-Mochila-Bags.com</i><span><a id="seeLessLink" class="accent" href="" onclick="seeLess(); return false;">See Less</a></span>
			</p>
		</div>
	</div>
</section>
<!-- *** HOME WAYUU TEXT END *** -->
<!-- *** SHOP NOW *** -->
<section class="bar background-image-fixed-2 no-mb color-white text-center">
	<div class="dark-mask"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-uppercase"><%=t(".supplier")%></h3>
				<p class="text-center">
					<a href="#" class="btn btn-template-transparent-black btn-lg">SHOP NOW</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- *** SHOP NOW END *** -->
<!-- *** BLOG *** -->
<section class="bar background-white no-mb">
	<div class="container">
		<div class="col-md-12">
			<div class="heading text-center">
				<h2>WAYUU BLOG</h2>
			</div>
			<p class="lead text-center"><%=t(".wayuu_blog1")%> <span class="accent">Check our blog!</span>
			</p>
			<!-- *** BLOG HOMEPAGE *** -->
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="box-image-text blog">
						<div class="top">
							<div class="image">
									<%= image_tag("shop/img/portfolio-4.jpg",alt:" ", class: "img-responsive margin-auto") %>
								<!-- <img src="img/portfolio-4.jpg" alt="" class="img-responsive"> -->
							</div>
							<div class="bg"></div>
							<div class="text">
								<p class="buttons">
									<a href="blog-post.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
								</p>
							</div>
						</div>
						<div class="content">
							<h4><a href="blog-post.html">Fashion now</a></h4>
							<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
							</p>
							<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
							<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
							</p>
						</div>
					</div>
					<!-- /.box-image-text -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-image-text blog">
						<div class="top">
							<div class="image">
							<%= image_tag("shop/img/portfolio-3.jpg",alt:" ", class: "img-responsive margin-auto") %>
							</div>
							<div class="bg"></div>
							<div class="text">
								<p class="buttons">
									<a href="blog-post.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
								</p>
							</div>
						</div>
						<div class="content">
							<h4><a href="blog-post.html">Fashion now</a></h4>
							<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
							</p>
							<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
							<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
							</p>
						</div>
					</div>
					<!-- /.box-image-text -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-image-text blog">
						<div class="top">
							<div class="image">
								<%= image_tag("shop/img/portfolio-5.jpg",alt:" ", class: "img-responsive margin-auto") %>
							</div>
							<div class="bg"></div>
							<div class="text">
								<p class="buttons">
									<a href="blog-post.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
								</p>
							</div>
						</div>
						<div class="content">
							<h4><a href="blog-post.html">What to do</a></h4>
							<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
							</p>
							<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
							<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
							</p>
						</div>
					</div>
					<!-- /.box-image-text -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-image-text blog">
						<div class="top">
							<div class="image">
								<%= image_tag("shop/img/portfolio-6.jpg",alt:" ", class: "img-responsive margin-auto") %>
							</div>
							<div class="bg"></div>
							<div class="text">
								<p class="buttons">
									<a href="blog-post.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
								</p>
							</div>
						</div>
						<div class="content">
							<h4><a href="blog-post.html">5 ways to look awesome</a></h4>
							<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
							</p>
							<p class="intro">Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people.</p>
							<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
							</p>
						</div>
					</div>
					<!-- /.box-image-text -->
				</div>
			</div>
			<!-- /.row -->
			<!-- *** BLOG HOMEPAGE END *** -->
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- *** BLOG END *** -->
<!-- *** MAIL *** -->
<section class="bar background-pentagon no-mb">
	<div class="container text-center">
		<div class="row text-center">
			<div class="col-md-12">
				<h1><%=t(".getInTouch")%></h1>
				<p class="lead accent"><%=t(".to_help")%></p>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<form>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="firstname"><%=t(".name")%></label>
								<input type="text" class="form-control" id="firstname">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="lastname"><%=t(".last_name")%></label>
								<input type="text" class="form-control" id="lastname">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="email"><%=t(".email")%></label>
								<input type="text" class="form-control" id="email">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="subject"><%=t(".subject")%></label>
								<input type="text" class="form-control" id="subject">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="message"><%=t(".message")%></label>
								<textarea id="message" class="form-control"></textarea>
							</div>
						</div>
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i><%=t(".send")%></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<div>
		<div class="shop-button">
			<ul>
				<li>
					<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
				</li>
			</ul>
		</div>
</div>

<!-- *** MAIL END *** -->
