<div class="modal-fade" align="center">
    <div class="card card-container">
      <h1 class="modal-title" align="center">Sign up</h1>
      <img id="profile_img" class="profile-img-card" src="<%= asset_path("profileimg.jpg") %>">
      <p id="profile_name" class="profile-name-card"></p>
      <form class="form-signin">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <!--<span id="reauth-email" class="reauth-email"></span>-->
        <div align="center" >
         <h3>Email</h3>
         <% f.label :email %>
         <%= f.email_field :email, :id=>"inputEmail", :class=>"form-control", :placeholder=>"Email address", autofocus: true, autocomplete: "off" %>
        </div>

        <div align="center">
          <h3>Password</h3>
          <% f.label :password %><% if @minimum_password_length %>
          <h5><em>(<%= @minimum_password_length %> characters minimum)</em></h5>
          <% end %>
          <%= f.password_field :password, :id=>"inputPassword", :class=>"form-control", :placeholder=>"Password", :align=>"center", autofocus: true, autocomplete: "off" %>
        </div>


        <div align="center">
          <h3>Password Confirmation</h3>
          <% f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :id=>"inputPasswordConfirmation", :class=>"form-control", :placeholder=>"Password", :align=>"center", autofocus: true, autocomplete: "off" %>
        </div>

        <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
        <div id="remember" class="checkbox" align="center">
          <label align="center">
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

      <div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
        <% f.submit "Sign up" %>
      </div>

       <%= render "devise/shared/links" %>
       <% end %>
       </form>
     </div><!-- /card-container -->
</div><!-- /container -->
