<div class="table-responsive">
    <table class="table" id= "tbCart">
        <thead>
            <tr>
                <th colspan="2">Product</th>
                <th> </th>
                <th>Quantity</th>
                <th>Unit price</th>
                <th>Discount</th>
                <th colspan="2">Total</th>
                <th><th>

            </tr>
        </thead>
        <tbody>
          <% @productcart.each do |i| %>
            <tr>
                <td>
                  <% showImage = ProductImage.find_by(product_id: i.id.to_s ) %>
                  <% unless showImage.nil?%>
                    <td><%#=image_tag showImage.image.thumb.url%></td>
                  <%else%>
                    <td>No image</td>
                  <%end%>
                </td>
                <td><a href="<%= product_path(i.id) %>"><%= i.name %></a>
                </td>
                <td> <select value="<%= i.quantity %>" id="squantity">
                  <% for a in (1..Product.find( i.id ).quantity) %>
                      <option value="<%=a%>"><%=a%></option>
                  <% end %>
                </select></td>
                <td><%= i.price %></td>
                <td><%= i.discount %></td>
                <%if i.discount !=0.0%>
                  <td>$<%= (i.price - i.discount) * i.quantity %></td>
                <%else%>
                  <td>$<%= i.price * i.quantity %></td>
                <%end%>
                <td><%= link_to '', deletecart_checkout_index_path( :id => i.id ),:title =>"Delete item" ,:id=> "deleteItem", :class=>"btn fa fa-trash-o", remote: true %></td>
            </tr>
         <% end %>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="6">Total</th>
                <%@sum = total()%>
                <th>$<%= @sum%></th>
            </tr>
        </tfoot>
    </table>
</div>
