<div class="row products">
    <p class="text-muted lead" ></p>
  <% @show_products.each do |c|%>
    <div class="col-md-4 col-sm-4">
        <div class="product">
            <div class="image">
                <a href="shop-detail.html">
                    <img src="https://wayuu-mochila-bags.com/wp-content/uploads/2016/08/Authentic-WAYUU-Large-Mochila-Bag-100_-Colombian-Boho-Hobo-Finest-Handmade-432-1-300x300.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <!-- /.image -->
            <div class="text">
                <h3><%=c.name%></h3>
                <% if c.discount != 0.0%>
                  <p class="price"><del>$<%= c.price%></del> $<%= c.discount%></p>
                <%else%>
                  <p class="price">$<%=c.price%></p>
                <%end%>
                <p class="buttons">
                    <a href="shop-detail.html" class="btn btn-default">View detail</a>
                    <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </p>
            </div>
            <!-- /.text -->
            <% if c.discount != 0.0%>
              <div class="ribbon sale">
                <div class="theribbon">SALE</div>
                <div class="ribbon-background"></div>
              </div>
            <%end%>
            <!-- /.ribbon -->
            <% if c.created_at > 1.days.ago %>
            <div class="ribbon new">
              <div class="theribbon">NEW</div>
              <div class="ribbon-background"></div>
            </div>
            <% end %>
            <!-- /.ribbon -->
        </div>
        <!-- /.product -->
    </div>
  <%end%>
</div>
<div class="col-sm-12">
  <div class="center">
  <%= will_paginate @show_products, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 1%>
  </div>
</div>
