<div id="heading-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<!--h1>Products from <%= @from_category.name%> </h1-->
				<h1>Category with left sidebar</h1>
			</div>
			<div class="col-md-5">
				<ul class="breadcrumb">
					<li><%= link_to "HOME", root_path%></li>
					<li><%= @from_category.name%></li>
					<li>Products</li>

				</ul>

			</div>
		</div>
	</div>
</div>

<div id="content">
	<div class="container">
		<div class="row">
			<!-- *** LEFT COLUMN *** -->
			<div class="col-sm-3">
				<!-- *** MENUS AND FILTERS ***-->
				<div class="panel panel-default sidebar-menu">
					<div class="panel-heading">
						<h3 class="panel-title">Categories</h3>
					</div>
					<div class="panel-body">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Select a category <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<%allCategories = Category.all.order("name ASC")%>
								<%allCategories.each do |c|%>
								<li><a href="<%= showall_category_product_index_path(c.id.to_s) %>"><%=c.name%></a></li>
								<%end%>
							</ul>
						</div>						
					</div>
				</div>
				<div class="panel panel-default sidebar-menu">
					<div class="panel-heading">
						<h3 class="panel-title">Price</h3>
						<a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
					</div>
					<div class="panel-body">
						<form>
							<button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>
						</form>
					</div>
				</div>
				<!-- *** MENUS AND FILTERS END *** -->
			</div>
			<!-- *** LEFT COLUMN END *** -->
			<!-- *** RIGHT COLUMN *** -->
			<div class="col-sm-9" id="product-containter">
				<p class="text-muted lead">In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide. Pellentesque habitant morbi tristique senectus et netuss.</p>

				<!--div id="sort-by" class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Sort by <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#">Sort by popularity</a></li>
						<li><a href="#">Sort by average rating</a></li>
						<li><a href="#">Sort by newness</a></li>
						<li><a href="#">Sort by price: low to high</a></li>
						<li><a href="#">Sort by price: high to low</a></li>
					</ul>
				</div-->



				<%= render 'product/showproducts' %>
			</div>
		</div>
		<!-- *** RIGHT COLUMN END *** -->
	</div>
</div>