<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Products from <%= @from_category.name%> </h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                  <li><%= link_to "HOME", root_path%></li>
                  <li><%= @from_category.name%></li>
                  <li>Products</li>

                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
  <div class="container">
        <div class="row">
            <!-- *** LEFT COLUMN *** -->
            <div class="col-sm-2">
                <!-- *** MENUS AND FILTERS ***-->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                            <li>
                                <a href="shop-category.html">Men <span class="badge pull-right">42</span></a>
                                <ul>
                                    <li><a href="shop-category.html">T-shirts</a>
                                    </li>
                                    <li><a href="shop-category.html">Shirts</a>
                                    </li>
                                    <li><a href="shop-category.html">Pants</a>
                                    </li>
                                    <li><a href="shop-category.html">Accessories</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="shop-category.html">Ladies  <span class="badge pull-right">123</span></a>
                                <ul>
                                    <li><a href="shop-category.html">T-shirts</a>
                                    </li>
                                    <li><a href="shop-category.html">Skirts</a>
                                    </li>
                                    <li><a href="shop-category.html">Pants</a>
                                    </li>
                                    <li><a href="shop-category.html">Accessories</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="shop-category.html">Kids  <span class="badge pull-right">11</span></a>
                                <ul>
                                    <li><a href="shop-category.html">T-shirts</a>
                                    </li>
                                    <li><a href="shop-category.html">Skirts</a>
                                    </li>
                                    <li><a href="shop-category.html">Pants</a>
                                    </li>
                                    <li><a href="shop-category.html">Accessories</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Brands</h3>
                        <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
                    </div>

                    <div class="panel-body">

                        <form>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Armani (10)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Versace (12)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Carlo Bruni (15)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Jack Honey (14)
                                    </label>
                                </div>
                            </div>

                            <button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>

                        </form>

                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title clearfix">Colours</h3>
                        <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
                    </div>

                    <div class="panel-body">

                        <form>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> <span class="colour white"></span> White (14)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> <span class="colour green"></span> Green (20)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> <span class="colour red"></span> Red (10)
                                    </label>
                                </div>
                            </div>

                            <button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>

                        </form>

                    </div>
                </div>
                <!-- *** MENUS AND FILTERS END *** -->
            </div>
            <!-- /.col-md-3 -->
            <!-- *** LEFT COLUMN END *** -->

            <!-- *** RIGHT COLUMN ***
_________________________________________________________ -->

          <div class="col-sm-9 col-md-offset-1">
            <div class="row products">
                <p class="text-muted lead" ></p>
              <% @show_products.each do |c|%>
                <div class="col-md-4 col-sm-4">
                    <div class="product">
                        <div class="image">
                            <a href="shop-detail.html">
                                <img src="https://wayuu-mochila-bags.com/wp-content/uploads/2016/08/Authentic-WAYUU-Large-Mochila-Bag-100_-Colombian-Boho-Hobo-Finest-Handmade-432-1-300x300.jpg" alt="" class="img-responsive image1">
                            </a>
                        </div>
                        <!-- /.image -->
                        <div class="text">
                            <h3><%=c.name%></h3>
                            <% if c.discount != 0.0%>
                              <p class="price"><del>$<%= c.price%></del> $<%= c.discount%></p>
                            <%else%>
                              <p class="price">$<%=c.price%></p>
                            <%end%>
                            <p class="buttons">
                                <a href="shop-detail.html" class="btn btn-default">View detail</a>
                                <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </p>
                        </div>
                        <!-- /.text -->
                        <% if c.discount != 0.0%>
                          <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                          </div>
                        <%end%>
                        <!-- /.ribbon -->
                        <% if c.created_at > 1.days.ago %>
                        <div class="ribbon new">
                          <div class="theribbon">NEW</div>
                          <div class="ribbon-background"></div>
                        </div>
                        <% end %>
                        <!-- /.ribbon -->
                    </div>
                    <!-- /.product -->
                </div>
              <%end%>
            </div>
            <div class="col-sm-12">
              <div class="center">
              <%= will_paginate @show_products, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 1%>
              </div>
            </div>
          </div>
            <!-- /.col-md-9 -->
      </div>
            <!-- *** RIGHT COLUMN END *** -->
  </div>
    <!-- /.container -->
</div>
<!-- /#content -->
