<div id="heading-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1><%= @from_category.name%> </h1>
			</div>
			<div class="col-md-5">
				<ul class="breadcrumb">
					<li><%= link_to "HOME", root_path%></li>
					<li><%= @from_category.name%></li>
					<li>Products</li>

				</ul>

			</div>
		</div>
	</div>
</div>

<div id="content">
	<div class="container">
		<div class="row">
			<!-- *** LEFT COLUMN *** -->
			<div class="col-sm-2">
				<!-- *** MENUS AND FILTERS ***-->
				<div class="panel panel-default sidebar-menu">
					<div class="panel-heading">
						<h3 class="panel-title">Categories</h3>
					</div>
					<div class="panel-body">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Select a category <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<% allCategories = Category.all.order("name ASC") %>
								<% allCategories.each do |c| %>
								<li><a href="<%= showall_category_product_index_path(c.id.to_s) %>"><%=c.name%></a></li>
								<%end%>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default sidebar-menu">
					<div class="panel-heading">
						<h3 class="panel-title">Price</h3>
						<a class="pull-right" href="#"><i class="fa fa-times-circle fa-lg"></i></a>
					</div>
					<div class="panel-body">
						<!-- <form method="post" action="<%#=pricerange_category_product_index_path%>"  enctype="multipart/form-data"> -->
							<%= hidden_field_tag :id, @from_category.id %>
							<%= hidden_field_tag :path, pricerange_category_product_index_path %>
							<div id="price-filter-container">
								<input id="price-filter" name="price" type="text" class="span2" value="" data-slider-min="7" data-slider-max="224" data-slider-step="5" data-slider-value="[7,224]"/>
								<br>
								<span id="CurrentSliderValLabel">Price: <span id="SliderVal">$7 - $224</span></span>
							</div>
							<button id="prange" class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>
						<!-- </form> -->
					</div>
				</div>
				<!-- *** MENUS AND FILTERS END *** -->
			</div>
			<!-- *** LEFT COLUMN END *** -->
			<!-- *** RIGHT COLUMN *** -->
			<div class="col-sm-10">
				<!--p class="text-muted lead">In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide. Pellentesque habitant morbi tristique senectus et netuss.</p-->
				<div id="sort-by" class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Sort by <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right">
						<!--li><a href="#">Sort by popularity</a></li-->
						<!--li><a href="#">Sort by average rating</a></li-->
						<li>
							<%= link_to 'Sort by newness', newest_category_product_index_path(@from_category.id.to_s), remote: true %>
						</li>
						<li>
							<%= link_to 'Sort by price: low to high', pricelow_category_product_index_path(@from_category.id.to_s), remote: true %>
						</li>
						<li>
							<%= link_to 'Sort by price: high to low', pricehigh_category_product_index_path(@from_category.id.to_s), remote: true %>
						</li>
					</ul>
				</div>
				<!--div id="sort-by" class="dropdown">
					<select class="btn btn-default">
						<option value="menu_order" selected="selected">Default sorting</option>
						<option value="popularity">Sort by popularity</option>
						<option value="rating">Sort by average rating</option>
						<option value="date">Sort by newness</option>
						<option value="price">Sort by price: low to high</option>
						<option value="price-desc">Sort by price: high to low</option>
					</select>
				</div-->
				<div id="product-containter">
					<%= render 'product/showproducts' %>
				</div>
			</div>
		</div>
		<!-- *** RIGHT COLUMN END *** -->
	</div>
</div>
