<div class="container">

  <div class="row">

    <div class="col-md-9" id="blog-post">
      <p class="text-muted text-uppercase mb-small text-right">Posted on <%= @article.created_at.strftime("%b %d, %Y") %>
        by <%= link_to "John Snow", "#" %>
      </p>

      <br>
      <p class="lead" align="justify"><%= @article.description %></p>

      <div id="post-content">
        <% count = 0 %>
        <% img = 0 %>
        <% length = @article.content.length %>
        <% while count < length do%>
          <% if @article.content[count].length <= 25 %>
            <div style="height: auto; weight: 100%; text-align: center;">
              <%= image_tag "Blog/#{@article.content[count]}"%>
              <% img = 1 %>
            </div>
          <% else %>
            <% if img == 1 %>
              <% img = 0 %>
              <br>
            <% end %>
            <p align="justify"><%= @article.content[count] %></p>
            <br>
          <% end %>
          <% count = count + 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
