


<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0px; background-color: #222222;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html" style="color: white; font-size: 1.5em; font-family: georgia; margin-top: 6px">Administrator</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li>
          <a href="<%= root_path %>">
            <span class=" glyphicon glyphicon-home" style="font-size: 24px;color: white">
          </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class=" glyphicon glyphicon-comment" style="font-size: 24px;color: white">
            </a>
            <ul class="dropdown-menu dropdown-messages">
              <% @comment.each do |t| %>
                <li>
                    <a data-remote="true" href="<%= see_review_index_path( :id => t.id ) %>">
                        <div>
                            <strong><%= t.name %></strong>
                            <span class="pull-right text-muted">
                                <em><%= time_ago_in_words( t.created_at ) + " ago" %></em>
                            </span>
                        </div>
                        <div><%= truncate(t.comment, :length => 70) %></div>
                    </a>
                </li>
                <li class="divider"></li>
              <% end %>
                <li align="center">
                    <%= link_to 'Read All Messages', list_review_index_path, :class=>"fa fa-angle-right", remote: true %>
                </li>
            </ul>
            <!-- /.dropdown-messages -->
        </li>

            <!-- /.dropdown-tasks -->

            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class=" glyphicon glyphicon-user" style="font-size: 24px;color: white">
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><%= link_to "Log out", destroy_user_session_path, :method => 'delete' %></li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation" style="margin-top:70px">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/admin/index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-usd fa-fw"></i>Sales<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <%= link_to 'Latest sales', listsales_sale_index_path, remote: true %>
                        </li>
                        <li>
                            <%= link_to 'Processing sales', listprocessingsales_sale_index_path, remote: true %>
                        </li>
                        <li>
                            <%= link_to 'Completed sales', listcompletedsales_sale_index_path, remote: true %>
                        </li>
                        <li>
                            <%= link_to 'Canceled sales', listcanceledsales_sale_index_path, remote: true %>
                        </li>
                        <li>
                            <%= link_to 'Show all', listallsales_sale_index_path, remote: true %>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-archive fa-fw"></i>Products<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <%= link_to 'Show all', list_product_index_path, remote: true %>
                        </li>

                        <li>
                            <!-- <a href="/admin/product/add">Add product</a> -->
                          <%= link_to 'New product', add_product_index_path( :format=>'js' ), remote: true %>
                        </li>
                        <li>

                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users fa-fw"></i>Categories<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <%= link_to 'Show all', list_category_index_path, remote: true %>
                        </li>
                        <li>
                            <%= link_to 'New category', add_category_index_path( :format=>'js' ), remote: true %>
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users fa-fw"></i>Users<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>

                            <%= link_to 'Show all', userlist_admin_index_path, remote: true %>
                        </li>
                        <li>
                            <a href="#">Morris.js Charts</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-comments fa-fw"></i>Reviews<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <%= link_to 'Latest reviews', latest_review_index_path( :format=>'js' ), remote: true %>
                        </li>

                        <li>
                            <!-- <a href="/admin/product/add">Add product</a> -->
                          <%= link_to 'Show all', list_review_index_path( :format=>'js' ), remote: true %>
                        </li>
                        <li>

                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
