<header>
	<!-- *** TOP *** -->
	<div id="top">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-4 contact">
					<p><i class="fa fa-phone"></i> 1(855) 929-8855</p>
				</p>
			</div>
			<div class="col-xs-6 col-sm-8">
				<div class="social hidden-xs">
					<a href="https://www.facebook.com/WayuumBags" class="external facebook"><i class="fa fa-facebook"></i></a>
					<a href="https://plus.google.com/+WayuumochilabagsStore" class="external gplus"><i class="fa fa-google-plus"></i></a>
					<a href="https://www.instagram.com/wayuumbags" class="external instagram"><i class="fa fa-instagram"></i></a>
					<a href="https://twitter.com/wayuumbags" class="external twitter"><i class="fa fa-twitter"></i></a>
					<a href="http://wayuumbags.tumblr.com/" class="external tumblr"><i class="fa fa-tumblr"></i></a>
					<a href="https://www.youtube.com/channel/UCL30I8UIIDth2U-KHJm2Fpw" class="external youtube"><i class="fa fa-youtube"></i></a>
				</div>
				<div class="login">
					<a href="<%= new_user_session_path %>"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Sign in</span></a>
					<!--a href="<%= new_user_session_path %>" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Sign in</span></a-->
					<a href="<%= new_user_registration_path %>"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Sign up</span></a>
					<%- if user_signed_in? %>
						<%= link_to("Log out", destroy_user_session_path, :method => :delete) %>
					<% end %>

					<%- if user_signed_in? %>
						<%= link_to("Edit registation", edit_user_registration_path) %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- *** TOP END *** -->
<!-- *** NAVBAR *** -->
<div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">
	<div class="navbar navbar-default yamm" role="navigation" id="navbar">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand home" href="/home">
					<%= image_tag("shop/logo.png", class: "hidden-xs hidden-sm logo-header") %>
					<%= image_tag("shop/logo.png", class: "visible-xs visible-sm logo-small-header") %><span class="sr-only">Wayuu - go to homepage</span>
				</a>
				<div class="navbar-buttons">
					<button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
						<span class="sr-only">Toggle navigation</span>
						<i class="fa fa-align-justify"></i>
					</button>
				</div>
				<div id="cart-container" class="hidden-sm hidden-md hidden-lg">
					<a id="navbar-cart" href="#"><i class="fa fa-shopping-cart"></i><span class="cart-count">0</span></a>
				</div>
			</div>
			<div class="navbar-collapse collapse" id="navigation">
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<%= link_to("Home ", "/home")%>
					</li>
					<li class="dropdown">
						<a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Shop Categories <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Flash Sale</a></li>
							<li><a href="#">Gift Cards</a></li>
							<li><a href="#">Single Thread Mochilas</a></li>
							<li><a href="#">Jeweled Mochilas</a></li>
							<li><a href="#">Drawstring Mochilas</a></li>
							<li><a href="#">Mini Single Thread Mochilas</a></li>
							<li><a href="#">Mini Mochilas</a></li>
							<li><a href="#">Solid Colors</a></li>
							<li><a href="#">Pom Pom Mochilas</a></li>
							<li><a href="#">Neon Pink</a></li>
							<li><a href="#">Neon Colors</a></li>
							<li><a href="#">Traditional Pink</a></li>
							<li><a href="#">Traditional Colors</a></li>
							<li><a href="#">Black, Grey, and White</a></li>
							<li><a href="#">Earth/Brown</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript: void(0)">Blog </a>
					</li>
					<li class="dropdown">
						<a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Customer Survey</a></li>
							<li><a href="#">Customer Reviews</a></li>
							<li><a href="#">FAQ's</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Return Policy</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms and Conditions</a></li>
							<li><%= link_to("Developer Team", "team")%></li>
						</ul>
					</li>
					<li class="hidden-xs">
						<a id="navbar-cart" href="#"><i class="fa fa-shopping-cart"></i><span class="cart-count">0</span></a>
					</li>
					<li>
						<div class="social hidden-sm hidden-md hidden-lg">
							<a href="https://www.facebook.com/WayuumBags" class="external facebook"><i class="fa fa-facebook"></i></a>
							<a href="https://plus.google.com/+WayuumochilabagsStore" class="external gplus"><i class="fa fa-google-plus"></i></a>
							<a href="https://www.instagram.com/wayuumbags" class="external instagram"><i class="fa fa-instagram"></i></a>
							<a href="https://twitter.com/wayuumbags" class="external twitter"><i class="fa fa-twitter"></i></a>
							<a href="http://wayuumbags.tumblr.com/" class="external tumblr"><i class="fa fa-tumblr"></i></a>
							<a href="https://www.youtube.com/channel/UCL30I8UIIDth2U-KHJm2Fpw" class="external youtube"><i class="fa fa-youtube"></i></a>
						</div>
					</li>
				</ul>
			</div>
			<div class="collapse clearfix" id="search">
				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- *** NAVBAR END *** -->
</header>
<!-- *** LOGIN MODAL *** -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="Login">Customer login</h4>
			</div>
			<div class="modal-body">
				<form action="#" method="post">
					<div class="form-group">
						<input type="text" class="form-control" id="email_modal" placeholder="email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="password_modal" placeholder="password">
					</div>
					<p class="text-center">
						<button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Log in</button>
					</p>
					<div id="login-social">
						<a id="login-facebook"><i class="fa fa-facebook"></i></a>
						<a id="login-google"><i class="fa fa-google"></i></a>
					</div>
				</form>
				<p class="text-center text-muted">Not registered yet?</p>
				<p class="text-center text-muted"><a href="#"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>
			</div>
		</div>
	</div>
</div>
<!-- *** LOGIN MODAL END *** -->