<!DOCTYPE html>
<html>
  <head>
    <title>Administrator</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin', media: 'all' %>
  </head>
  <body>
    <div id="wrapper">
    <%= render 'layouts/adminNav' %>
    <%= yield %>
    </div>
  </body>
</html>
<%= javascript_include_tag 'admin' %>
