<!DOCTYPE html>
<html>
  <head>
    <title>Wayuu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
  </head>
      <%flash.each do|name,msg| %>
        <%content_tag(:div,msg,class:"alert alert-#{name}")%>
      <%end%>
  <body>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      <%session[:name]= current_user.email%>
      Logged in as <strong><%= session[:name] %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <br>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <br>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <br>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    <br>
    <%= render 'shared/facebook_sdk' %>
    <%= yield %>
  </body>
</html>
