<div class="header">
  <div class="top-header">
		<div class="number">
				<div><%= image_tag("shop/phone.png") %></div>
				<div class="number-phone">1(855) 929-8855</div>
		</div>
		<div id="socialNetworks" class="social-networks">
			<div>
					<%= link_to( image_tag("shop/1facebook.png"), "https://www.facebook.com/WayuumBags") %>
			</div>
				<div>
					<%= link_to( image_tag("shop/1instagram.png"), "https://www.instagram.com/wayuumbags") %>
				</div>
				<div>
					<%= link_to( image_tag("shop/1googleplus.png"), "https://plus.google.com/+WayuumochilabagsStore") %>
				</div>
				<div>
					<%= link_to( image_tag("shop/1twitter.png"), "https://twitter.com/wayuumbags") %>
				</div>
				<div>
					<%= link_to( image_tag("shop/1tumblr.png"), "https://www.tumblr.com/search/wayuumbags") %>
				</div>
				<div>
					<%= link_to( image_tag("shop/1youtube.png"), "https://www.youtube.com/channel/UCL30I8UIIDth2U-KHJm2Fpw") %>
				</div>
		</div>

		<div class="sign">
				<a data-toggle="modal" href="#myModal" data-keyboard="true">Log in</a>
				<a data-toggle="modal" href="#myModal1" data-keyboard="true">sign up</a>
		</div>
	</div>

 	<nav class="logo">
	 		<a href="/home"><%= image_tag("shop/wmroundlogo.png") %><span class="img-helper"/></a>
 	</nav>

 	<nav class="nav" id="nav">
 		<ul class="nav-ul">
 			<li class="nav-li"><%= link_to("Home", "/home")%></li>
 			<li class="nav-li"><a href="#">Shop Categories</a>
 				<ul class="drop-down-menu">
 					<li><a href="#">Gift Cards</a></li>
 					<li><a href="#">Single Thread Mochilas</a></li>
 					<li><a href="#">Jeweled Mochilas</a></li>
 					<li><a href="#">Drawstring Mochilas</a></li>
 					<li><a href="#">Mini Single Thread Mochilas</a></li>
 					<li><a href="#">Mini Mochilas</a></li>
					<li><a href="#">Solid Colors</a></li>
 					<li><a href="#">Pom Pom Mochilas</a></li>
 					<li><a href="#">Neon Pink</a></li>
 					<li><a href="#">Neon Colors</a></li>
 					<li><a href="#">Traditional Pink</a></li>
 					<li><a href="#">Traditional Colors</a></li>
 					<li><a href="#">Black, Grey, and White</a></li>
 					<li><a href="#">Earth/Brown</a></li>
			</ul>
		</li>
	 			<li class="nav-li"><a href="#">Blog</a></li>
	 			<li class="nav-li"><a href="#">About Us</a>
	 				<ul class="nav-ul">
	 					<li><a href="#">Customer Survey</a></li>
	 					<li><a href="#">Customer Reviews</a></li>
	 					<li><a href="#">FAQ's</a></li>
	 					<li><a href="#">Shipping</a></li>
	 					<li><a href="#">Return Policy</a></li>
	 					<li><a href="#">Privacy Policy</a></li>
	 					<li><a href="#">Terms and Conditions</a></li>
	 					<li><%= link_to("Developer Team", "team")%></li>
	 				</ul>
	 			</li>
	 		</ul>
	 	</nav>

		<div class="cart">
	 		<a href="#"><%= image_tag("shop/cart-icon.png") %><span class="img-helper"/></a>
	 		<span class="cart-count">0</span>
	 	</div>

		<div id="menuToggle" class="mobile-toggle">
	 		<a href="#" onclick="openNav()"><%= image_tag("shop/menu-button.png") %><span class="img-helper"/></a>
	 	</div>

	  <div id="mask" class="mask" onclick="closeNav()"></div>
	  <div id="sideNav" class="sidenav">
	 	<a href="#" class="closebtn" onclick="closeNav()">&times;</a>
	 	<ul class="side-nav">
	 		<li><a href="/home">Home</a></li>
	 		<li><a href="#" onclick="displayMenu('shop')">Shop Categories</a>
	 			<ul id="shop" class="side-nav">
	 				<li><a href="#">Gift Cards</a></li>
	 				<li><a href="#">Single Thread Mochilas</a></li>
	 				<li><a href="#">Jeweled Mochilas</a></li>
	 				<li><a href="#">Drawstring Mochilas</a></li>
	 				<li><a href="#">Mini Single Thread Mochilas</a></li>
	 				<li><a href="#">Mini Mochilas</a></li>
	 				<li><a href="#">Solid Colors</a></li>
	 				<li><a href="#">Pom Pom Mochilas</a></li>
	 				<li><a href="#">Neon Pink</a></li>
	 				<li><a href="#">Neon Colors</a></li>
	 				<li><a href="#">Traditional Pink</a></li>
	 				<li><a href="#">Traditional Colors</a></li>
	 				<li><a href="#">Black, Grey, and White</a></li>
	 				<li><a href="#">Earth/Brown</a></li>
	 			</ul>
	 		</li>
	 		<li><a href="#">Blog</a></li>
	 		<li><a href="#" onclick="displayMenu('about') ">About Us</a>
	 			<ul id="about" class="side-nav">
	 				<li><a href="products.html">Customer Survey</a></li>
	 				<li><a href="products.html">Customer Reviews</a></li>
	 				<li><a href="products.html">FAQ's</a></li>
	 				<li><a href="products.html">Shipping</a></li>
	 				<li><a href="products.html">Return Policy</a></li>
	 				<li><a href="products.html">Privacy Policy</a></li>
	 				<li><a href="products.html">Terms and Conditions</a></li>
	 				<li><%= link_to("Developer Team", "team")%></li>
	 			</ul>
	 		</li>
	 	</ul>
	 	<div class="side-social-networks">
	 		<div>
	 			<%= link_to( image_tag("shop/1facebook.png"), "https://www.facebook.com/WayuumBags") %>
	 		</div>
	 		<div>
	 			<%= link_to( image_tag("shop/1instagram.png"), "https://www.instagram.com/wayuumbags") %>
	 		</div>
	 	</div>
	 </div>
</div>


<!-- SIGN IN -->
<div class="modal" id="myModal" align="center">
<div class="modal-dialog modal-md">
	<div class="modal-content modal-md" align="center">
		<div class="card card-container" align="center">
		 <div class="modal-header" align="center">
			 <button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="modal-title1" style="font-size:42px" align="center">
					Sign in
				</div>
		 </br>
		 </div>
		 	<div class="modal-body">
				<img id="profile_img2" class="profile-img2-card" src="<%= asset_path("profileimg.jpg") %>">
				<div class="form-signin">
					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

						<% f.label :email %>
						<%= f.email_field :email, :id=>"inputEmail", :class=>"form-control", :placeholder=>"Email", autofocus: true, autocomplete: "off" %>

						<% f.label :password %>
						<%= f.password_field :password, :id=>"inputPassword", :class=>"form-control", :placeholder=>"Password", :align=>"center", autofocus: true, autocomplete: "off" %>

						<div class="fonts">
						<% if devise_mapping.rememberable? %>
							<%= f.check_box :remember_me %>
							<%= f.label :remember_me, :id=>"remember_me", autofocus: true, autocomplete: "off" %>
						<% end %>
					</div>
					</br>

			<div class="row">
				<div align="center">
					<div class="form-group">
							<button align="center" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
							<% f.submit "Log in" %>
					</div>
				</div>
			</div>
	   </div>

			<div class="fontlinks">
			<%= render "devise/shared/links" %>
			</div>
			<% end %>
		</div>
		</div>
	</div>
 </div>
 </div>


<!-- SIGN UP -->
<div class="modal" id="myModal1" align="center">
<div class="modal-dialog modal-md">
	<div class="modal-content modal-md" align="center">
		<div class="card card-container1" align="center">
		 <div class="modal-header" align="center">
			 <button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="modal-title1" style="font-size:42px" align="center">
					Sign up
				</div>
		</div>
		<div class="modal-body">
			<img id="profile_img2" class="profile-img2-card" src="<%= asset_path("profileimg.jpg") %>">
			<div class="form-signin">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <!--<span id="reauth-email" class="reauth-email"></span>-->
        <div align="center" >
         <h3 class="fonts">Name</h3>
         <% f.label :name %>
         <%= f.text_field :name, :id=>"inputEmail", :class=>"form-control", :placeholder=>"Name", autofocus: true, autocomplete: "off" %>
        </div>

        <div align="center" >
         <h3 class="fonts">Email</h3>
         <% f.label :email %>
         <%= f.email_field :email, :id=>"inputEmail", :class=>"form-control", :placeholder=>"Email address", autofocus: true, autocomplete: "off" %>
        </div>

        <div align="center">
          <h3 class="fonts">Password</h3>
          <% f.label :password %><% if @minimum_password_length %>
          <h5><em>(<%= @minimum_password_length %> characters minimum)</em></h5>
          <% end %>
          <%= f.password_field :password, :id=>"inputPassword", :class=>"form-control", :placeholder=>"Password", :align=>"center", autofocus: true, autocomplete: "off" %>
        </div>


        <div align="center">
          <h3 class="fonts">Password Confirmation</h3>
          <% f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :id=>"inputPasswordConfirmation", :class=>"form-control", :placeholder=>"Password", :align=>"center", autofocus: true, autocomplete: "off" %>
        </div>
      </br>
      <div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
        <% f.submit "Sign up" %>
      </div>
      </div>
       <%= render "devise/shared/links" %>
       <% end %>

  		</div><!-- /card-container -->
			</div>
		</div>
	</div>
</div>
